{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Bienvenido</title>
   <!--Made with love by Mutiullah Samim -->
   
	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
</head>
<body>
	<header>
		<div class="navbar navbar-dark bg-dark shadow-sm">
		  <div class="container d-flex justify-content-between">
			<a href="#" class="navbar-brand d-flex align-items-center">
				<svg xmlns="http://www.w3.org/2000/svg" width="39" height="39" viewBox="0 0 24 24" fill="none" stroke="#faf5f5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><line x1="12" y1="1" x2="12" y2="23"></line><path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path></svg>
				<strong>PréstamosOnline - Sitio web</strong>
			</a>
		  </div>
		</div>
	  </header>
	  <main role="main">
		<section class="jumbotron text-center">
		  <div class="container">
			<h1 class="jumbotron-heading">Bienvenido</h1>
			<p class="lead text-muted">Seleccioná alguna de las siguientes opciones para continuar:</p>
			<p>
			  <a href="{% url 'solicitar_prestamo' %}" class="btn btn-primary my-2">Solicitar préstamo</a>
			  <a href="{% url 'login' %}"" class="btn btn-secondary my-2">Iniciar sesión como administrador</a>
			</p>
		  </div>
		</section>
	  </main>
	  <footer class="text-muted">
		<div class="container">
		  <p>2021 &copy; PréstamosOnline</p>
		</div>
	  </footer>

</body>
</html>