<!DOCTYPE html>
<html>
<head>
	<title>Listado de préstamos</title>
   <!--Made with love by Mutiullah Samim -->
   
	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
	<header>
		<div class="navbar navbar-dark bg-dark shadow-sm">
		  <div class="container d-flex justify-content-between">
			<a href="{% url 'index' %}" class="navbar-brand d-flex align-items-center">
				<svg xmlns="http://www.w3.org/2000/svg" width="39" height="39" viewBox="0 0 24 24" fill="none" stroke="#faf5f5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><line x1="12" y1="1" x2="12" y2="23"></line><path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path></svg>
				<strong>PréstamosOnline</strong>
			</a>
		  </div>
      <div class="container d-flex justify-content-end" >
        <span class="badge badge-primary">¡Hola, {{ user.username | upper }}!</span>
        <a href="{% url 'logout' %}" class="badge badge-warning">Cerrar sesión</a>
      </div>
		</div>
	  </header>
	  <main role="main">
		<section class="jumbotron text-center">
				<div class="row d-flex justify-content-center align-items-center h-100">
			
					<div class="card shadow-2-strong" style="border-radius: 1rem;">
					  <div class="card-body text-center">
              <h1>Listado de Solicitudes de Préstamos</h1>
              <div class="row">
                <div class="col-12">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">DNI</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Género</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Monto solicitado</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for prestamo in prestamos %}
                        <tr>
                          <th scope="row">{{ prestamo.id }}</th>
                          <td>{{ prestamo.dni }}</td>
                          <td>{{ prestamo.nombre }}</td>
                          <td>{{ prestamo.apellido }}</td>
                          <td>{{ prestamo.genero }}</td>
                          <td>{{ prestamo.email }}</td>
                          <td>${{ prestamo.monto_solicitado }}</td>
                          <td>{{ prestamo.estado }}</td>
                          <td>
                            <a href="{% url 'editar_prestamo' prestamo.id %}" class="btn btn-success" role="button"><i class="fas fa-edit"></i></a>
      
                            <!--<button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>-->
                            <a href="{% url 'eliminar_prestamo' prestamo.id %}" class="btn btn-danger" role="button"><i class="fas fa-trash-alt"></i></a>
                          </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
					</div>
				  </div>
				</div>

		</section>
	  </main>
	  <footer class="text-muted">
		<div class="container">
		  <p>2021 &copy; PréstamosOnline</p>
		</div>
	  </footer>

</body>
</html>