<!DOCTYPE html>
<html>
<head>
	<title>Login administrador</title>
   <!--Made with love by Mutiullah Samim -->
   
	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
	<header>
		<div class="navbar navbar-dark bg-dark shadow-sm">
		  <div class="container d-flex justify-content-between">
			<a href="{% url 'index' %}" class="navbar-brand d-flex align-items-center">
				<svg xmlns="http://www.w3.org/2000/svg" width="39" height="39" viewBox="0 0 24 24" fill="none" stroke="#faf5f5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><line x1="12" y1="1" x2="12" y2="23"></line><path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path></svg>
				<strong>PréstamosOnline</strong>
			</a>
		  </div>
		</div>
	  </header>
	  <main role="main">
		<section class="jumbotron text-center">
				<div class="row d-flex justify-content-center align-items-center h-100">
				  <div class="col-12 col-md-8 col-lg-6 col-xl-5">
					<div class="card shadow-2-strong" style="border-radius: 1rem;">
					  <div class="card-body p-5 text-center">
			
						<form method="post">
							{% csrf_token %}
							<h3 class="mb-5">Ingreso de credenciales</h3>
			
							<div class="form-group mb-4">
							<label class="form-label" for="username">Usuario</label>
							  <input type="text" name="username" class="form-control form-control-lg" />
							</div>
				
							<div class="form-group mb-4">
							  <label class="form-label" for="password">Contraseña</label>
							  <input type="password" name="password" class="form-control form-control-lg" />
							</div>
				
							<button class="btn btn-primary btn-lg btn-block" type="submit">Iniciar sesión</button>	
						</form>
					  </div>
					</div>
				  </div>
				</div>

		</section>
	  </main>
	  <footer class="text-muted">
		<div class="container">
		  <p>2021 &copy; PréstamosOnline</p>
		</div>
	  </footer>

</body>
</html>