{% extends 'solicitud_prestamo.html' %}
{% block titulo %}Préstamo aceptado{% endblock titulo %}
{% block cuerpo %} 
<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center" style="background-image: url('https://wallpapercave.com/wp/X49EwD0.jpg'); height: 100vh; ">
    {% block mensaje %}
    <h1>Felicitaciones 😎👍</h1>
    <h2>Tu solicitud fue <strong>aprobada</strong>.</h2>
    {% endblock mensaje %}
</div>
{% endblock cuerpo %}