{% extends 'prestamo_aceptado.html' %}
{% block titulo %}Préstamo rechazado{% endblock titulo %}
{% block mensaje %} 
<img src="https://i.postimg.cc/QtvQWjrZ/imageedit-8-8430421189.png" width="12%" height="20%" alt="préstamo rechazado">
<h1>¡Ups! Lo sentimos...</h1>
<h2>En esta oportunidad tu préstamo <strong>no fue aprobado.</strong></h2>
{% endblock mensaje %}