<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{% block titulo %}Solicitud de préstamo{% endblock titulo %}</title>
</head>
<body>
    <div class="container">
    {% block cuerpo %}
    <h1>Datos del solicitante</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">CREAR</button>
    </form>
    {% endblock cuerpo %}
    </div>
</body>
</html>