{% extends "index.html" %}

{% block 'titulo' %} Error interno {% endblock %}

{% block 'cuerpo' %}
<div class="row d-flex justify-content-center align-items-center h-100">
	<div class="col-12 col-md-8 col-lg-6 col-xl-5">
	  <div class="card shadow-2-strong" style="border-radius: 1rem;">
		<div class="card-body p-5 text-center">

		  <h1>¡Ups! ⚠️</h1>
		  <h2>Ocurrió un error al procesar la petición. Intentá más tarde.</h2>
		  <h7><a href="{% url 'index' %}" alt="indice">Volver al menú principal.</a></h3>
		</div>
	  </div>
	</div>
  </div>
{% endblock %}