{% extends "index.html" %}

{% block 'titulo' %} Listado de Préstamos {% endblock %}

{% block 'usuario' %} 
<div class="container d-flex justify-content-end" >
  <span class="badge badge-primary">¡Hola, {{ user.username | upper }}!</span>
  <a href="{% url 'logout' %}" onclick="return confirm('¿Cerrar sesión?')" class="badge badge-warning">Cerrar sesión</a>
</div>
{% endblock %}

{% block 'cuerpo' %} 
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body text-center">
            <h1>Listado de solicitudes de préstamos</h1>
            <div class="row">
              <div class="col-12">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">DNI</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Apellido</th>
                      <th scope="col">Género</th>
                      <th scope="col">E-mail</th>
                      <th scope="col">Monto solicitado</th>
                      <th scope="col">Estado</th>
                      <th scope="col">Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                      {% for prestamo in prestamos %}
                      <tr>
                        <th scope="row">{{ prestamo.id }}</th>
                        <td>{{ prestamo.dni }}</td>
                        <td>{{ prestamo.nombre }}</td>
                        <td>{{ prestamo.apellido }}</td>
                        <td>{{ prestamo.genero }}</td>
                        <td>{{ prestamo.email }}</td>
                        <td>${{ prestamo.monto_solicitado }}</td>
                        <td>{{ prestamo.estado }}</td>
                        <td>
                          <a href="{% url 'editar_prestamo' prestamo.id %}" class="btn btn-success" role="button"><i class="fas fa-edit"></i></a>
    
                          <a href="{% url 'eliminar_prestamo' prestamo.id %}" onclick="return confirm('¿Eliminar esta solicitud?')" class="btn btn-danger" role="button"><i class="fas fa-trash-alt"></i></a>
                        </td>
                      </tr>
                      {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
        </div>
        </div>
      </div>
{% endblock %}