{% extends "index.html" %}

{% block 'titulo' %} Inicio de sesión {% endblock %}

{% block 'cuerpo' %}
<div class="row d-flex justify-content-center align-items-center h-100">
	<div class="col-12 col-md-8 col-lg-6 col-xl-5">
	  <div class="card shadow-2-strong" style="border-radius: 1rem;">
		<div class="card-body p-5 text-center">

		  <form method="post">
			  {% csrf_token %}
			  <h3 class="mb-5">Ingreso de credenciales</h3>

			  <div class="form-group mb-4">
			  <label class="form-label" for="username">Usuario</label>
				<input type="text" name="username" class="form-control form-control-lg" />
			  </div>
  
			  <div class="form-group mb-4">
				<label class="form-label" for="password">Contraseña</label>
				<input type="password" name="password" class="form-control form-control-lg" />
			  </div>
  
			  <button class="btn btn-primary btn-lg btn-block" type="submit">Iniciar sesión</button>	
		  </form>
		</div>
	  </div>
	</div>
  </div>
{% endblock %}