{% extends 'prestamo_aceptado.html' %}
{% load static %}

{% block titulo %} Préstamo rechazado {% endblock titulo %}

{% block cuerpo %}

{% block mensaje %} 
<!-- <img src="https://i.ibb.co/fNR9T2X/rechazado.png" width="12%" height="20%" alt="préstamo rechazado"> -->
<img src="{% static 'img/rechazado.png' %}" width="12%" height="20%" alt="préstamo aprobado">
<h1>¡Ups! Lo sentimos...</h1>
<h2>En esta oportunidad tu préstamo <strong>no fue aprobado.</strong></h2>
<h7><a href="{% url 'index' %}" alt="indice">Volver al menú principal.</a></h3>
{% endblock mensaje %}

{% endblock %}