{% extends "index.html" %}
{% load static %}

{% block 'titulo' %} Préstamo aprobado {% endblock %}

{% block 'cuerpo' %} 
<div class="d-flex flex-column max-vh-100 justify-content-center align-items-center">
    {% block mensaje %}
    <!-- <img src="https://i.ibb.co/BsKqds2/aprobado.png" width="12%" height="20%" alt="préstamo aprobado"> -->
    <img src="{% static 'img/aprobado.png' %}" width="12%" height="20%" alt="préstamo aprobado">
    <h1>Felicitaciones 😎👍</h1>
    <h2>Tu solicitud fue <strong>aprobada</strong>.</h2>
    <h7><a href="{% url 'index' %}" alt="indice">Volver al menú principal.</a></h3>
    {% endblock %}
</div>
{% endblock %}