{% extends "index.html" %}

{% block 'titulo' %}Formulario de solicitud de préstamo{% endblock %}

{% block 'cuerpo' %}
<form method="post">
    {% csrf_token %}
    <h3>Completá los siguientes datos: </h3>
    {% if form.errors %}
    {% for field in form %}
         {% for error in field.errors %}
         <div class="alert alert-danger" role="alert">
            Conflicto con el campo '{{field.label_tag}}' {{ error|escape }}
        </div>
         {% endfor %}
    {% endfor %}
    {% endif %}

    <!-- {{ form.as_p }} -->
    {% for field in form %}
    <div class="fieldWrapper mt-4 mb-0">
        {{ field.label_tag }} {{ field }}
    </div>
    <span class="badge badge-pill badge-dark mt-0">{{ field.help_text }}</span>
    {% endfor %}
    <hr class="mt-2 mb-2">
    <button class="btn btn-success" onclick="return confirm('¿Enviar la solicitud?')" type="submit">Enviar</button> <button class="btn btn-secondary" type="reset">Limpiar datos</button>
</form>
{% endblock %}